.App {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  background: #f5f5f5;
  color: #333;
  margin: 20px;
  padding: 20px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
