body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.pic-in-display {
    margin: 4px;
    width: 32%;
    min-width: 150px;
}

@media (min-width: 768px) {
    .topNavContainer {
        position: sticky;
        top: 0;
    }
}

.topNavAccent {
    background-color: #f1c40f;
}
