body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.pic-in-display {
    margin: 4px;
    width: 32%;
    min-width: 150px;
}

.pic-display {
    /* flex-wrap: wrap; */
}

.btn-primary {
    background-color: #00e5ff;
    border-color: #00e5ff;
    color: #000000;
}

.btn-primary:hover {
    background-color: #00b2cc;
    border-color: #00b2cc;
    color: #000000;
}

.topNav {
    background-color: #00e5ff;
}

.active {
    color: red;
}

.top-nav-button {
    color: white;
}

@media (min-width: 768px) {
    .topNavContainer {
        position: sticky;
        top: 0;
    }
}

.topNavAccent {
    background-color: #ffff00;
}
